body {
	background-color: black;
}

.main {
	margin-right: auto;
	margin-left: auto;
	width: 80%;

}

.idx {
	border-radius: 17px;
	padding: 10px;
}

a {
	margin: 10px;
}

.zoom {
	border-radius: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

@media screen and (max-width: 420px) {
	.zoom {
		width: 100%;
	}
}