---
let title = "Dad";
import BackArrow from '../components/BackArrow.astro';
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{title}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <style global>
            @import "../styles/global.css";
        </style>
    </head>
    <body>
        <BackArrow />
        <img class="zoom" src="/assets/d1.webp" alt="fuckit">
    </body>
</html>