---
	
	import BackArrow from '../components/BackArrow.astro';
	import ZoomPic from '../components/ZoomPic.astro';
	let title = "Dad";

---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{title}</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style global>
			@import "../styles/global.css";
		</style>
	</head>
	<body>
		<BackArrow addr="/" />
		<main class="main">
			<ZoomPic href="/d6zoom" src="/assets/d6.webp" />
        </main>
	</body>
</html>
