---

	import BackArrow from '../components/BackArrow.astro';
	let title = 'Dad';
	
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{title}</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style global>
			@import "../styles/global.css";
		</style>
	</head>
	<body>
		<BackArrow />
		<main class="main">
			<div class="column">
				<a href="/d1zoom"><img class="idx" src="/assets/thumbs/d1thumb2.webp" alt="fuckit" ></a>
				<a href="/d2zoom"><img class="idx" src="/assets/thumbs/d2thumb2.webp" alt="fuckit" ></a>	
				<a href="/d4zoom"><img class="idx" src="/assets/thumbs/d4thumb2.webp" alt="fuckit" ></a>
				<a href="/d5zoom"><img class="idx" src="/assets/thumbs/d5thumb2.webp" alt="fuckit" ></a>
				<a href="/d6zoom"><img class="idx" src="/assets/thumbs/d6thumb2.webp" alt="fuckit" ></a>
				<a href="/d7zoom"><img class="idx" src="/assets/thumbs/d7thumb2.webp" alt="fuckit" ></a>
				<a href="/d8zoom"><img class="idx" src="/assets/thumbs/d8thumb2.webp" alt="fuckit" ></a>
				<a href="/d9zoom"><img class="idx" src="/assets/thumbs/d9thumb2.webp" alt="fuckit" ></a>
				<a href="/d10zoom"><img class="idx" src="/assets/thumbs/d10thumb2.webp" alt="fuckit" ></a>
			</div>
		</main>
		<BackArrow />
	</body>
</html>
